<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0AA94BA0-FA70-471A-881C-5720FD470DAB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsm</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Code Search: Markdown</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;q=language%3AMarkdown+{query}</string>
		</dict>
		<key>2F6E6B1F-AF56-4345-8887-300CE7C2CD76</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cr</string>
			<key>text</key>
			<string>Crates</string>
			<key>url</key>
			<string>https://crates.io/search?q={query}</string>
		</dict>
		<key>2FBC59E9-5622-4446-8540-839CD18C58C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ciu</string>
			<key>text</key>
			<string>Can I Use</string>
			<key>url</key>
			<string>https://caniuse.com/?search={query}</string>
		</dict>
		<key>34F3F9A0-014B-4A84-9936-0CDA00D121D1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsj</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Code Search: JSON</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;q=language%3AJSON+{query}</string>
		</dict>
		<key>4B1B22C4-1DAF-48C0-89F5-C4FDE707D26B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stars</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>GitHub Stars</string>
			<key>url</key>
			<string>https://github.com/GitWorkflows?tab=stars&amp;q={query}</string>
		</dict>
		<key>59C07BBB-B3BD-4396-B3B2-DAE7470CA3D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docs</string>
			<key>text</key>
			<string>Dev Docs</string>
			<key>url</key>
			<string>https://devdocs.io/#q={query}</string>
		</dict>
		<key>67BF10EE-C8A7-4DCF-A985-442A88024839</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsr</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Code Search: Rust</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;q=language%3ARust+{query}</string>
		</dict>
		<key>6A71B22F-8019-4DFC-9541-2321ED710C88</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<key>8264F87A-D9CC-441B-9BE6-BC76960E9ECD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsa</string>
			<key>text</key>
			<string>Code Search: Any</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;q={query}</string>
		</dict>
		<key>87CC9B31-F4A3-4AA8-B54C-447ED2B1C49F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>MDN</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
		</dict>
		<key>91CD1126-E7A2-4CFF-812C-6FEA2C82B27B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vscode</string>
			<key>text</key>
			<string>VS Code Docs</string>
			<key>url</key>
			<string>https://code.visualstudio.com/Search?q={query}</string>
		</dict>
		<key>9957495A-3C55-4C3D-B52D-DB1FC18619A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;type=repositories</string>
		</dict>
		<key>9B292DF1-96B6-46E7-8A79-1B41D50F79C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>thes</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}</string>
		</dict>
		<key>9FD6A9B3-D1FB-4E8B-B1E8-B4A9835B81E5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yh</string>
			<key>text</key>
			<string>npm package</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/{query}</string>
		</dict>
		<key>B5737EA2-7394-4899-B502-A3486E3A7E61</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>web</string>
			<key>text</key>
			<string>Web</string>
			<key>url</key>
			<string>https://search.brave.com/search?q={query}</string>
		</dict>
		<key>D304743B-A4B5-43AC-A68D-A870E6FD184B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tw</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Tailwind Docs</string>
			<key>url</key>
			<string>https://search.brave.com/search?q=site%3Ahttps%3A%2F%2Ftailwindcss.com%2Fdocs+{query}</string>
		</dict>
		<key>D47468E5-230E-43BA-8243-8BF8BAD790E4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>npm search</string>
			<key>url</key>
			<string>https://npms.io/search?q={query}</string>
		</dict>
		<key>E3D6EA29-411B-4C00-890A-4B90A74EA094</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>am</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Amazon</string>
			<key>url</key>
			<string>https://smile.amazon.co.uk/s?k={query}</string>
		</dict>
		<key>EE9DFA38-FDBA-4375-9361-E6C02D297573</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>map</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Google Maps</string>
			<key>url</key>
			<string>https://www.google.co.uk/maps/search/{query}</string>
		</dict>
		<key>F1088E1E-2E6C-4801-B953-C3557662FB7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gst</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Code Search: TypeScript</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;q=language%3ATypeScript+{query}</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
